{% extends 'startpage.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <h2>Register</h2>
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% if 'password' in field.name %}
            <!-- Add specific class for password fields -->
            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" required>
          {% else %}
            <!-- Default rendering for other fields -->
            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" required>
          {% endif %}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Register</button>
      <a href="{% url 'login' %}" class="btn btn-secondary ml-2">Login</a>
    </form>
  </div>
</div>

    <script>
  // Enable Bootstrap form validation
  (function () {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        }, false);
      });
  })();
</script>

{% endblock %}
